@use '../colors.scss';
@use '../spacings.scss';

.Home {
  background: colors.$flatcat-primary-light;
}
.Home .home-introduction {
  background: #242329;
  padding: spacings.$largest;
}
.Home .home-introduction path {
  fill: pink;

  // fill: colors.$flatcat-secondary-darkest;
}
.Home .home-introduction path:hover {
  transform: rotate(360deg);
  transform-origin: 80% 70%;
  transition: all 5s ease;

}

.Home .home-lead {
  // color: white;
}

.Home .home-skills {
  background: colors.$flatcat-primary;
  padding: spacings.$largest;
  
}

.Home .home-contact {
  background: #d6d8ce;
  padding: spacings.$largest;
  
}

.Home h1 {
  font-size: 48px;
  font-weight: 800;
  background: linear-gradient(90deg, colors.$flatcat-primary, colors.$flatcat-primary-dark);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
//Knopf1
.Home .introduction .buttonMySkills {
  background: colors.$flatcat-primary-dark;
}
//Knopf2
.Home .introduction .buttonGithub {
  background:colors.$flatcat-secondary-dark;
}
//Bild
.Home .homeimage01 {
  width: 10px; /* Breite des Bildes */
  height: auto;
  margin-right: auto;
}

.contactForm {
  background:colors.$flatcat-milky-background;
}