.Home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh; 
  }
  .homeimage01 {
    width: 10px; /* Breite des Bildes */
    height: auto;
    margin-right: auto;
  }


  // .textColumn {
  // padding: 3000px;
  // }

  // .picColumn {
 
  // }