@use './colors.scss';
// Titles

$title-color: white;
$subtitle-color: white;
$background: pink;
$subtitle-color: black;
$title-color: black;

$primary: colors.$flatcat-primary;
$link: colors.$flatcat-secondary;



// Navbar

$navbar-background-color: colors.$flatcat-secondary-dark;
$navbar-item-color: white;

$gap: 32px;

$fullhd: 1200px + (2 * $gap)