@use './colors.scss';
// Titles

$title-color: white;
$subtitle-color: white;
$background: pink;

$primary: colors.$flatcat-primary;
$link: colors.$flatcat-secondary;
$navbar-background-color: grey;
$gap: 32px;

$fullhd: 1200px + (2 * $gap)