@use './colors.scss';
// Titles

$title-color: white;
$subtitle-color: white;
$background: pink;

$primary: colors.$flatcat-primary;
$link: colors.$flatcat-secondary;
$navbar-background-color: colors.$flatcat-secondary-darker;
$navbar-item-color:  rgb(255, 255, 255);
$gap: 32px;

$fullhd: 1200px + (2 * $gap)