$flatcat-primary: #24ca86;
$flatcat-primary-dark: #19ad90;

$flatcat-secondary: #3c6f79;
$flatcat-secondary-dark: #0f4c5a;
$flatcat-secondary-darker: #003845;
$flatcat-secondary-darkest: #0a2333;

$flatcat-milky-background: #eff0e7;